.perfumes-caixa{
    background-color: #F2F2F2;
    width: 94.375rem;
    margin: 0 auto;
    padding: 1.875rem;
}

h2{
    text-align: center;
    font-size: 40px;
    font-family: 'Nunito Sans', sans-serif;
}