.menu-link{
    color: #202020;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.563rem;
    font-family: 'Poiret One', cursive;
    margin-right: 1.25rem;
    cursor: pointer;
}

.menu-link:hover{
    text-decoration: underline
}

.menu-link-do-dia{
    color: #8f0000;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.563rem;
    font-family: 'Poiret One', cursive;
    margin-right: 1.25rem;
    cursor: pointer;
}

.menu-link-do-dia:hover{
    text-decoration: underline
}