.departamento-frase-descricao{
    color: #202020;
    background-color: #D9D9D9;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 4px 4px rgb(0,0,0,0.75);
    font-weight: 100;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.75rem;


}